<h3> Create a new assignment </h3>
<p><%= render 'form' %></p>

<h4>Incomplete Assignments</h4>
  <%= form_tag(completed_assignment_path, method: :put) do %>
    <% for assignment in @incomplete_assignments %>
     <li>
        <%= check_box_tag 'assignment_ids[]', assignment.id %>
        <%= link_to assignment.name, user_assignment_path(current_user, assignment) %>
      </li>
    <% end %>
    <%= submit_tag 'Complete Assignment', :class => "complete_assignment" %>
  <% end %>
<br>

<h3>Completed Assignments</h3>
<% for assignment in @complete_assignments %>
<li><%= link_to assignment.name, user_assignment_path(current_user, assignment) %></li>
<% end %>

<%= link_to "Notes", user_notes_path(current_user, @note) %>
