<h2 class="assignmentHeader">Assignment: <%= @assignment.name if @assignment.name %></h2>
  <p class="assignmentDueDate">Due: <%= @assignment.due_date if @assignment.due_date%></p>
   <span id="assignment-id">Assignment #<%= @assignment.id %></span>
<br><br>


<div id="tasks">
  <%= render 'tasks/task' %>
</div>


<center>
<p>
  <a href="#" class="js-prev" assignment_id="<%= @assignment.id %>">Previous Assignment</a> ||
  <a href="#" class="js-next" assignment_id="<%= @assignment.id %>">Next Assignment</a>
</p>
</center>


<% if @assignment.complete? %>

<p>This Assignment has been completed</p>
   <%= link_to 'Delete Assignment', [current_user, @assignment], method: :delete, data:{confirm: "Delete Assignment?"} %> ||
   <%= link_to "Show Tasks", assignment_tasks_path(@assignment), :id => "showTasks" %>
   <div class="taskList">
    <div>
    <br>
      <% else %>
        <%= render partial: "tasks/form", locals: {assignment: @assignment, task: @task} %>

        <% if @assignment.user == current_user %>

        <div class="links">
           <%= link_to 'Delete Assignment', [current_user, @assignment], method: :delete, data:{confirm: "Delete Assignment?"} %> ||
           <%= link_to 'Edit Assignment', [:edit, current_user, @assignment] %> ||
           <%= link_to 'Back to Assignments', [current_user, :assignments] %>
           <% else %>
           <%= link_to 'Back to Assignments', assignments_path(@assignment) %>
           <% end %>
        </div>

        <br>
       <br>
   <% end %>
</div>
