<h2>Created Assignment</h2>
 <span id="assignment-id">Assignment #<%= @assignment.id %></span>

<p class="assignmentName">
  <%= @assignment.name if @assignment.name %>
</p>

 <p class="assignmentDueDate">
   Due: <%= @assignment.due_date if @assignment.due_date%>
 </p>


<p id="assignmentInfo">
  <%= render @assignment.tasks %>
</p>


<div id="taskForm">
  <%= render 'tasks/form', locals: {task: @task} %>
</div>


<br><br>
<% if @assignment.user == current_user %>
<div class="links">
   <%= link_to 'Delete Assignment', [current_user, @assignment], method: :delete, data: { confirm: "Are you sure?" } %> ||
   <%= link_to 'Edit Assignment', [:edit, current_user, @assignment] %> ||
   <%#= link_to 'Back to Assignments', [current_user, :assignments] %>
<% else %>
   <%= link_to 'Back to Assignments', assignments_path(@assignment) %>
<% end %>
</div>

<a href="#" class="js-next" data-id="<%=@assignment.id%>">Next Assignment</a>
