<div class="assignments">
  <p>Assignment Name:<%= @assignment.name %></p>
   <span id="assignment-id">Assignment Number:<%= @assignment.id %></span>
  <p>Finish for practice on: <%= @assignment.due_date %></p>
</div>

<ol class="tasks">
  <%= render @assignment.tasks %>
</ol>

<div class="form">
  <h3>Add Tasks to assignment: <%= @assignment.name %> </h3>
    <%= form_for([@assignment, @task]) do |f| %>
    <%= f.text_field :name, placeholder: "New Task" %>
    <%= f.submit %>
  <% end %>
</div>


<br><br>
<% if @assignment.user == current_user %>
<div class="links">
   <%= link_to 'Delete Assignment', [current_user, @assignment], method: :delete, data: { confirm: "Are you sure?" } %>
    <br>
   <%= link_to 'Edit Assignment', [:edit, current_user, @assignment] %>
    <br>
   <%= link_to 'Back to Assignments', [current_user, :assignments] %>
    <br>
<% else %>
   <%= link_to 'Back to Assignments', assignments_path(@assignment) %>
<% end %>
</div>
