<div class="assignments">
  <p>Assignment Name:<%= @assignment.name %></p>
   <span id="assignment-id">Assignment Number:<%= @assignment.id %></span>
  <p>Finish for practice on: <%= @assignment.due_date %></p>
</div>

<ol class="tasks">
  <%= render @assignment.tasks %>
</ol>


<p><%=link_to "Add Tasks", new_assignment_task_path([@assignment, @task]), :class => "new-task"%> </p>
<div id="task_form">
  <%= render 'tasks/form' %>
</div>


<br><br>
<% if @assignment.user == current_user %>
<div class="links">
   <%= link_to 'Delete Assignment', [current_user, @assignment], method: :delete, data: { confirm: "Are you sure?" } %> ||
   <%= link_to 'Edit Assignment', [:edit, current_user, @assignment] %> ||
   <%= link_to 'Back to Assignments', [current_user, :assignments] %>
<% else %>
   <%= link_to 'Back to Assignments', assignments_path(@assignment) %>
<% end %>
</div>
