<!DOCTYPE html>
<html>
  <head>
    <title>TeamWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel="stylesheet">
  </head>

  <body>
    <h1>Team_Work - Stay organized</h1>
      <center>
      <% if user_signed_in? %>
      <h2><u>Coach <%= current_user.name if !current_user.nil? %></u></h2>
      <%= link_to "Home Page", root_path %> ||
      <%= link_to "Assignments", user_assignments_path(current_user.id, @assignment), :class => "assignment_list" %> ||
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %> ||
      <%= link_to "Current Stats", completed_most_path(@user) %></h4>
      <% else %>
    <h4> Sign-in or Sign-up to start making Assignments </h4>
    <% end %>
    </center>

    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% elsif %>
    <p class="alert"><%= alert %></p>
    <% end %>
	<%= yield %>
  </body>
</html>
